@forward "@/styles/vars";
@forward "@/styles/mixins";
@forward "@/styles/templates";

// Global variables of the app
:root {
  color-scheme: dark;

  --color-global-bg: #292929;

  --color-header: #181818;
  --color-footer: #181818;

  --color-auth-form-bg: #181818;
  --color-tabs-bg: #181818;
  --color-user-card-bg: #292929;
  --color-text-area-bg: #181818;

  --color-sample: #808080;

  --color-text: #ffffff;
  --color-text-white: #ffffff;
  --color-text-dark: #000000;

  --color-btn-text: #ffffff;
  --color-btn-bg: #bb8800;
  --color-btn-bg-our-players: #f0d540;
  --color-btn-bg-skillsets-maps: #33cad9;
  --color-btn-bg-workout-constructor: #e55a78;
  --color-btn-bg-trainings: #ffad5e;
  --color-btn-bg-tournaments: #3a76e7;
  --color-btn-bg-bounties: #8dda5a;
  --color-btn-bg-nm1: #64b5f6;
  --color-btn-bg-nm2: #42a5f5;
  --color-btn-bg-nm3: #2196f3;
  --color-btn-bg-nm4: #1976d2;
  --color-btn-bg-nm5: #1565c0;
  --color-btn-bg-nm6: #0d47a1;
  --color-btn-bg-nm7: #003366;
  --color-btn-bg-hd1: #ffd600;
  --color-btn-bg-hd2: #f9a825;
  --color-btn-bg-hd3: #c66900;
  --color-btn-bg-hr1: #f0baba;
  --color-btn-bg-hr2: #e57373;
  --color-btn-bg-hr3: #c62828;
  --color-btn-bg-dt1: #cda6d5;
  --color-btn-bg-dt2: #ba68c8;
  --color-btn-bg-dt3: #7e57c2;
  --color-btn-bg-dt4: #5b259d;
  --color-btn-bg-fm1: #94c596;
  --color-btn-bg-fm2: #55aa59;
  --color-btn-bg-fm3: #277d2b;
  --color-btn-bg-tb: #d4ac7c;

  --color-training-waiting: #ffc107;
  --color-training-in-progress: #00b8d9;
  --color-training-completed: #34c759;
  --color-training-archived: #9b59b6;

  --color-link-active: #ffec8b;

  --color-modal-bg: #181818;
  --color-modal-text: #ffffff;
  --color-modal-back-bg-rgb: 255, 255, 255;

  --color-vuetify-table-borders: #212121;

  --burger-menu-btn-img: url("@/assets/icons/burger-btn-white.svg");
  --color-burger-menu-bg: #181818;
  --color-burger-menu-text: #ffffff;
  --color-burger-menu-link-borders: #ffffff;
  --color-burger-menu-link: #ffec8b;
  --color-burger-menu-back-bg-rgb: 255, 255, 255;

  --sun-icon-img: url("@/assets/images/sun-white.png");
  --moon-icon-img: url("@/assets/images/moon-white.png");

  --color-skeleton-bg: #aaaaaa;

  --color-theme-slider-dark: #2b2b2b;
  --color-theme-slider-light: #cccccc;
  --color-theme-slider-circle: #ffffff;

  --color-app-spinner: #ffffff;

  --color-error: #ff4040;
}

// Class for light theme colors
.light-theme {
  color-scheme: light;

  --color-global-bg: #fafafa;

  --color-header: #f0aaaa;
  --color-footer: #f0aaaa;

  --color-auth-form-bg: #ffffff;
  --color-tabs-bg: #ffffff;
  --color-user-card-bg: #fafafa;
  --color-text-area-bg: #fafafa;

  --color-sample: #a0a0a0;

  --color-text: #2b2b2b;

  --color-link-active: #e8c547;

  --color-modal-bg: #ffffff;
  --color-modal-text: #2b2b2b;
  --color-modal-back-bg-rgb: 0, 0, 0;

  --color-vuetify-table-borders: #ffffff;

  --burger-menu-btn-img: url("@/assets/icons/burger-btn-black.svg");
  --color-burger-menu-bg: #ffffff;
  --color-burger-menu-text: #2b2b2b;
  --color-burger-menu-link-borders: #2b2b2b;
  --color-burger-menu-link: #e8c547;
  --color-burger-menu-back-bg-rgb: 0, 0, 0;

  --sun-icon-img: url("@/assets/images/sun-black.png");
  --moon-icon-img: url("@/assets/images/moon-black.png");

  --color-skeleton-bg: #888888;

  --color-app-spinner: #333333;
}
