@use "@/styles/vars" as *;
@use "@/styles/mixins" as *;

%default-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

%section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
